.App {
  display: flex;
  flex-direction: column;  
  font-family: Arial, Helvetica, sans-serif;
  }


body{
  background-color: rgb(55, 81, 88);
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin:0;
  font-family:'Poppins', sans-serif;
  }
  

.Loginbody {
  display: grid;
  justify-content: center; 
  height: fit-content;
  padding: 100px;
  

}
form{
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(8, 6, 6, 0.1);
  border-color: rgb(0, 0, 0);
  padding: 50px 35px;
  padding-top: 40PX;
}

.login-heading { 
  align-self: self-start;
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 24px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
  
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px;
  justify-items: center;
  text-align: center;
  align-items: center
}

.form-container label {
  margin-bottom: 0px;
  font-size: 18px;
  text-transform: uppercase ;
}

.form-container input[type="text"]
.form-container input[type="password"] {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-container input[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form-container {
    max-width: 300px;
  }
  
  .form-container label,
  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container input[type="submit"] {
    font-size: 14px;
  }
}



.emblem {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 120px;
  height: auto;
  justify-content: center;
  align-self: center;
}
/*---------------------------Styling for the Officer main page----------------------------*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
 
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.button {
  margin: 8px;
  padding: 12px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-family:'Poppins', sans-serif;
}


@media (min-width: 768px) {
  .button-container {
    flex-direction: column;
  }
  
  .button {
    margin: 8px;
  }
}

/*-------------------------------------Add-user-Styling---------------------------------*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container_signup {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px;
  justify-items: center;
  text-align: center;
  align-items: center;
  
}
label{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

h2.mainheader_signup {
  letter-spacing: 12px;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 0;
  align-items:center;
  font-family:'Poppins', sans-serif;

}



.container_signup label {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container_signup input[type="text"],
.container_signup input[type="password"] {
  margin-bottom: 20px;
  padding: 4px;
  width: 100%;
}

  



@media (min-width: 768px) {
  .container_signup {
    max-width: 600px;
  }
}

/*-------------------------------------------Ticket issue ------------------------------------------------------------*/
.container_issue_ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
}

.form_issue_ticket {
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(8, 6, 6, 0.1);
  border-color: rgb(0, 0, 0);
  padding: 50px 35px;
  padding-top: 40PX;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row label {
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.form-row input[type="text"]
.form-row input[type="date"] {
  padding: 8px;
  width: 100%; /* Add this to make inputs fill the width */
}

.button_issue_ticket {
  margin: 8px;
  padding: 12px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
   
  
}

@media (min-width: 768px) {
  .form_issue_ticket {
    width: 400px;
  }

  .form-row {
    flex-direction: row;
    align-items: center;
  }

  .form-row label {
    margin-right: 10px;
    flex-basis: 100px; /* Adjust the width of labels as needed */
  }
}
/*---------------------------------------Ticket-- isue - confirmation -------------------------------------*/
.container0 {
  display: grid;
  padding: 80px;
  justify-items: center;
  text-align: center;
  align-items: center;
}

p.confirmation-text {
  font-size: 34px;
  margin-bottom: 16px;
  
}

span.confirmation-icon {
  font-size: 48px;

 
}
button.button{
  margin-top: 50px;
}



/*------------------------------------------Styling for the oayment confirmation---------------------------*/
.container0_payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-text_payment {
  font-size: 24px;
  margin-top: 20px;
 
}

.confirmation-icon_payment {
  font-size: 48px;
  color: green;
  margin-top: 20px;
}

.download-receipt-text_payment {
  font-size: 18px;
  margin-top: 20px;
}

.button_payment {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
}

.button_payment:hover {
  background-color: darkblue;
  cursor: pointer;
}
